Lenguaje de Manipulación de Datos
===

In [1]:
%run bd.py
%hive_init

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/Volumes/Data/big-data/hive-3.1.0/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/Volumes/Data/big-data/hadoop-3.1.1/share/hadoop/common/lib/slf4j-log4j12-1.7.25.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
Hive Session ID = b352f216-e6ce-464f-8bcf-24a7001b430d

Logging initialized using configuration in jar:file:/Volumes/Data/big-data/hive-3.1.0/lib/hive-common-3.1.0.jar!/hive-log4j2.properties Async: true
Hive Session ID = 9e4fbe63-2655-4f74-bc55-2958bb93da18
Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.

In [2]:
%%hive
DROP DATABASE IF EXISTS DMLdb CASCADE;
CREATE DATABASE DMLdb;
USE DMLdb;

CREATE TABLE persons (
    id INT,
    firstname VARCHAR(10),
    surname VARCHAR(10),
    birthday TIMESTAMP,
    color VARCHAR(9),
    quantity INT
);

OK
Time taken: 0.797 seconds
OK
Time taken: 0.157 seconds
OK
Time taken: 0.009 seconds
OK
Time taken: 0.327 seconds

---

## INSERT

    INSERT INTO TABLE tablename VALUES values_row [, values_row ...]
    
    values_row: 
       (value [, value ...])
       
Note que a diferencia de SQL, aca no es posible indicar para que columnas se van a insertar los valores, de tal manera que siempre se deben dar valores para todas las columnas.

In [3]:
%%hive
--
-- Inserta el registro en la tabla.
-- Los valores están en el mismo orden de los campos.
--
INSERT INTO persons VALUES
   (1,"Vivian","Hamilton","1971-07-08","green",1);
    
SELECT * FROM persons;

Query ID = jdvelasq_20181005133909_5bb203ac-93cb-479e-becf-cefa2fc40759
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:39:14,012 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1350480857_0001
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/Volumes/Data/big-data/hive-3.1.0/warehouse/dmldb.db/persons/.hive-staging_hive_2018-10-05_13-39-09_898_5625808311638892639-1/-ext-10000
Loading data to table dmldb.persons
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 4.523 seconds
OK
1	Vivian	Hamilton	1971-07-08 00:00:00	green	1
Time taken: 0.135 seconds, Fetched: 1 row(s)

In [4]:
%%hive
--
-- Inserta varios registros a la vez.
-- Los valores deben estar en el mismo orden de los campos.
--
INSERT INTO persons VALUES
    (2,"Karen","Holcomb","1974-05-23","green",4),
    (3,"Cody","Garrett","1973-04-22","orange",1);
    
SELECT * FROM persons;

Query ID = jdvelasq_20181005133915_39b31c11-b959-469b-932b-d1f727fd66f0
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:39:16,928 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1759984619_0002
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/Volumes/Data/big-data/hive-3.1.0/warehouse/dmldb.db/persons/.hive-staging_hive_2018-10-05_13-39-15_097_2789178718226633457-1/-ext-10000
Loading data to table dmldb.persons
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 2.114 seconds
OK
1	Vivian	Hamilton	1971-07-08 00:00:00	green	1
2	Karen	Holcomb	1974-05-23 00:00:00	green	4
3	Cody	Garrett	1973-04-22 00:00:00	orange	1
Time taken: 0.078 seconds, Fetched: 3 row(s)

## UPDATE

    UPDATE tablename SET column = value [, column = value ...] [WHERE expression]

Véase https://cwiki.apache.org/confluence/display/Hive/Hive+Transactions

## DELETE

    DELETE FROM tablename [WHERE expression]
    
Véase https://cwiki.apache.org/confluence/display/Hive/Hive+Transactions

## MERGE

    MERGE INTO <target table> AS T USING <source expression/table> AS S
    ON <boolean expression1>
    WHEN MATCHED [AND <boolean expression2>] THEN UPDATE SET <set clause list>
    WHEN MATCHED [AND <boolean expression3>] THEN DELETE
    WHEN NOT MATCHED [AND <boolean expression4>] THEN INSERT VALUES<value list>
    
Véase https://community.hortonworks.com/articles/97113/hive-acid-merge-by-example.html

## ESCRITURA DE DATOS AL DISCO

    INSERT OVERWRITE [LOCAL] DIRECTORY directory1
      [ROW FORMAT row_format] [STORED AS file_format] 
      SELECT ... FROM ...

Si el archivo requerido ya tiene el formato deseado, es posible copiarlo directamente del sistema de archivos. En caso contrario, puede usar un INSERT para realizar la conversión de formato.

In [5]:
## crea el directorio persons-data
!rm -rf DMLexport-dir
!mkdir DMLexport-dir

In [6]:
%%hive
INSERT OVERWRITE LOCAL DIRECTORY 'DMLexport-dir'
ROW FORMAT 
DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM persons;

Query ID = jdvelasq_20181005133917_7171dcc6-8c6e-40e3-91d5-104af27d425d
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-10-05 13:39:19,525 Stage-1 map = 100%,  reduce = 0%
Ended Job = job_local272107340_0003
Moving data to local directory DMLexport-dir
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 1.639 seconds

In [7]:
!ls DMLexport-dir/*

DMLexport-dir/000000_0

In [8]:
!cat DMLexport-dir/* > DMLexport-data.csv
!cat DMLexport-data.csv

1,Vivian,Hamilton,1971-07-08 00:00:00,green,1
2,Karen,Holcomb,1974-05-23 00:00:00,green,4
3,Cody,Garrett,1973-04-22 00:00:00,orange,1

In [9]:
## se borra el archivo si existe
!rm -rf DMLexport-dir  DMLexport-data.csv

## LOAD DATA

Se crea el archivo CSV

In [10]:
%%writefile persons.csv
4,Roth,Fry,1975-01-29 00:00:00,black,1
5,Zoe,Conway,1974-07-03 00:00:00,blue,2
6,Gretchen,Kinney,1974-10-18 00:00:00,viole,1
7,Driscoll,Klein,1970-10-05 00:00:00,blue,5
8,Karyn,Diaz,1969-02-24 00:00:00,red,1
9,Merritt,Guy,1974-10-17 00:00:00,indigo,4
10,Kylan,Sexton,1975-02-29 00:00:00,black,4
11,Jordan,Estes,1969-12-07 00:00:00,indigo,4
12,Hope,Coffey,1973-12-24 00:00:00,green,5
13,Vivian,Crane,1970-08-27 00:00:00,gray,5
14,Clio,Noel,1972-12-12 00:00:00,red,5
15,Hope,Silva,1970-07-01 00:00:00,blue,5
16,Ayanna,Jarvis,1974-02-11 00:00:00,orange,5
17,Chanda,Boyer,1973-04-01 00:00:00,green,4
18,Chadwick,Knight,1973-04-29 00:00:00,yellow,1

Writing persons.csv

In [11]:
## prepeara el archivo CSV
## para cargarse en Hive
## reemplazando las comas por Ctr-A 
lines = open('persons.csv', 'r').read()
lines = lines.replace(',', chr(1))
open('persons', 'w').write(lines)

643

In [12]:
%%hive
--
-- el separador de campos debe ser ctrl-A
-- en Python es `chr(1)`
--
LOAD DATA LOCAL INPATH 'persons' INTO TABLE persons;

Loading data to table dmldb.persons
OK
Time taken: 0.104 seconds

In [13]:
%%hive
SELECT * FROM persons;

OK
1	Vivian	Hamilton	1971-07-08 00:00:00	green	1
2	Karen	Holcomb	1974-05-23 00:00:00	green	4
3	Cody	Garrett	1973-04-22 00:00:00	orange	1
4	Roth	Fry	1975-01-29 00:00:00	black	1
5	Zoe	Conway	1974-07-03 00:00:00	blue	2
6	Gretchen	Kinney	1974-10-18 00:00:00	viole	1
7	Driscoll	Klein	1970-10-05 00:00:00	blue	5
8	Karyn	Diaz	1969-02-24 00:00:00	red	1
9	Merritt	Guy	1974-10-17 00:00:00	indigo	4
10	Kylan	Sexton	1975-03-01 00:00:00	black	4
11	Jordan	Estes	1969-12-07 00:00:00	indigo	4
12	Hope	Coffey	1973-12-24 00:00:00	green	5
13	Vivian	Crane	1970-08-27 00:00:00	gray	5
14	Clio	Noel	1972-12-12 00:00:00	red	5
15	Hope	Silva	1970-07-01 00:00:00	blue	5
16	Ayanna	Jarvis	1974-02-11 00:00:00	orange	5
17	Chanda	Boyer	1973-04-01 00:00:00	green	4
18	Chadwick	Knight	1973-04-29 00:00:00	yellow	1
Time taken: 0.08 seconds, Fetched: 18 row(s)

## LOAD DATA con datos complejos

Apache Hive usa cuatro tipos de datos complejos. A coninuación se presentan los separadores por defecto.

* Record: \n o delimitador de filas
* FIELD (campos): Ctr+A o \001, delimita campos.
* ARRAY y STRUCT: Ctrl+B o \002, delimita elementos 
* MAP: Ctrl+C o \003, delimita parejas (key, value). 
* UNIONTYPE

In [14]:
%%hive
DROP TABLE IF EXISTS complextypes;
CREATE TABLE complextypes (
    id INT,
    arrayField ARRAY<STRING>, 
    structField STRUCT<c21:INT, c22:INT>,
    mapField MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';

OK
Time taken: 0.028 seconds
OK
Time taken: 0.039 seconds

In [15]:
%%writefile complextypes.csv
1,A:B:C,1:2,key1#1:key2#2
2,E:F,3:4,key1#3:key3#4
3,G:H:I,5:6,key2#5:key3#6

Writing complextypes.csv

In [16]:
%%hive
LOAD DATA LOCAL INPATH 'complextypes.csv' INTO TABLE complextypes;
SELECT * FROM complextypes;

Loading data to table dmldb.complextypes
OK
Time taken: 0.079 seconds
OK
1	["A","B","C"]	{"c21":1,"c22":2}	{"key1":1,"key2":2}
2	["E","F"]	{"c21":3,"c22":4}	{"key1":3,"key3":4}
3	["G","H"]	{"c21":5,"c22":6}	{"key2":5,"key3":6}
Time taken: 0.095 seconds, Fetched: 3 row(s)

In [17]:
%%hive
--
-- Selecciona el campo ARRAY
--
SELECT arrayField FROM complextypes;

OK
["A","B","C"]
["E","F"]
["G","H"]
Time taken: 0.076 seconds, Fetched: 3 row(s)

In [18]:
%%hive
SELECT arrayField[0] FROM complextypes;

OK
A
E
G
Time taken: 0.1 seconds, Fetched: 3 row(s)

In [19]:
%%hive
SELECT arrayField[2] FROM complextypes;

OK
C
NULL
NULL
Time taken: 0.067 seconds, Fetched: 3 row(s)

In [20]:
%%hive
SELECT structField FROM complextypes;

OK
{"c21":1,"c22":2}
{"c21":3,"c22":4}
{"c21":5,"c22":6}
Time taken: 0.068 seconds, Fetched: 3 row(s)

In [21]:
%%hive
SELECT structField.c21, structField.c22 FROM complextypes;

OK
1	2
3	4
5	6
Time taken: 0.066 seconds, Fetched: 3 row(s)

In [22]:
%%hive
SELECT mapField FROM complextypes;

OK
{"key1":1,"key2":2}
{"key1":3,"key3":4}
{"key2":5,"key3":6}
Time taken: 0.067 seconds, Fetched: 3 row(s)

In [23]:
%%hive
SELECT mapField['key1'] FROM complextypes;

OK
1
3
NULL
Time taken: 0.077 seconds, Fetched: 3 row(s)

In [24]:
%%hive
SELECT mapField['key3'] FROM complextypes;

OK
NULL
4
6
Time taken: 0.072 seconds, Fetched: 3 row(s)

In [25]:
!rm complextypes.csv

## INSERT ... SELECT ...

También es posible insertar datos desde queries. La sintaxis sería la siguiente:

    INSERT OVERWRITE TABLE bancos1
    SELECT * FROM Bancos
    WHERE .... ;
    

La clausula anterior es posible reescribirla como:

    FROM Bancos se 
    INSERT OVERWRITE TABLE bancos1
       SELECT * WHERE ....
    INSERT OVERWRITE TABLE bancos2
       SELECT * WHERE ... ;
       
generando múltiples INSERT a tablas diferentes.

In [26]:
%%hive
CREATE TABLE IF NOT EXISTS persons1 LIKE persons;

INSERT OVERWRITE TABLE persons1
SELECT * FROM persons
WHERE color='green';

SELECT * FROM persons1;

OK
Time taken: 0.035 seconds
Query ID = jdvelasq_20181005133923_26ce9499-0b5b-4e01-b48a-ec8850e967cc
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:39:25,210 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1852017709_0004
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/Volumes/Data/big-data/hive-3.1.0/warehouse/dmldb.db/persons1/.hive-staging_hive_2018-10-05_13-39-23_478_3060559575014796243-1/-ext-10000
Loading data to table dmldb.persons1
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 1.975 seconds
OK
1	Vivian	Hamilton	1971-07-08 00:00:00	green	1
2	Karen	Holcomb	1974-05-23 00:00:00	green	4
12	Hope	Coffey	1973-12-24 00:00:00	green	5
17	Chanda	Boyer	1973-04-01 00:00:00	green	4
Time taken: 0.076 seconds, Fetched: 4 row(s)

In [27]:
%%hive
CREATE TABLE IF NOT EXISTS persons2 LIKE persons;

FROM persons
INSERT OVERWRITE TABLE persons1
   SELECT * WHERE color='red'
INSERT OVERWRITE TABLE persons2
   SELECT * WHERE color='green';

SELECT * FROM persons1;

SELECT * FROM persons2;

OK
Time taken: 0.031 seconds
Query ID = jdvelasq_20181005133926_2f50e9db-de27-4cf4-b823-74ec9381bbdf
Total jobs = 4
Launching Job 1 out of 4
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:39:27,863 Stage-2 map = 100%,  reduce = 100%
Ended Job = job_local1186420580_0005
Stage-5 is selected by condition resolver.
Stage-4 is filtered out by condition resolver.
Stage-6 is filtered out by condition resolver.
Loading data to table dmldb.persons2
Launching Job 4 out of 4
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:39:29,516 Stage-10 map = 100%,  reduce = 100%
Ended Job = job_local1107832432_0006
Moving data to directory file:/Volumes/Data/big-data/hive-3.1.0/warehouse/dmldb.db/persons1/.hive-staging_hive_2018-10-05_13-39-26_080_8654722329993184881-1/-ext-10000
Loading data to table dmldb.persons1
MapReduce Jobs Launched:
Stage-Stage-2:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Stage-Stage-10:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 3.604 seconds
OK
8	Karyn	Diaz	1969-02-24 00:00:00	red	1
14	Clio	Noel	1972-12-12 00:00:00	red	5
Time taken: 0.066 seconds, Fetched: 2 row(s)
OK
1	Vivian	Hamilton	1971-07-08 00:00:00	green	1
2	Karen	Holcomb	1974-05-23 00:00:00	green	4
12	Hope	Coffey	1973-12-24 00:00:00	green	5
17	Chanda	Boyer	1973-04-01 00:00:00	green	4
Time taken: 0.062 seconds, Fetched: 4 row(s)

## PARTITIONED BY

In [28]:
%%hive
DROP TABLE IF EXISTS persons3;

CREATE TABLE persons3 (
    id INT,
    firstname VARCHAR(10),
    surname VARCHAR(10),
    birthday TIMESTAMP,
    color VARCHAR(9)
)
PARTITIONED BY (quantity INT);

LOAD DATA LOCAL INPATH 'persons' INTO TABLE persons3; 

SELECT * FROM persons3;

OK
Time taken: 0.004 seconds
OK
Time taken: 0.16 seconds
Query ID = jdvelasq_20181005133930_bf5a49f8-39e4-4783-94b4-273b1a911708
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:39:32,493 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local287750212_0007
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/Volumes/Data/big-data/hive-3.1.0/warehouse/dmldb.db/persons3/.hive-staging_hive_2018-10-05_13-39-30_902_7374912572334412211-1/-ext-10000
Loading data to table dmldb.persons3 partition (quantity=null)
	 Time taken to load dynamic partitions: 0.15 seconds
	 Time taken for adding to write entity : 0.001 seconds
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 2.202 seconds
OK
4	Roth	Fry	1975-01-29 00:00:00	black	1
6	Gretchen	Kinney	1974-10-18 00:00:00	viole	1
8	Karyn	Diaz	1969-02-24 00:00:00	red	1
18	Chadwick	Knight	1973-04-29 00:00:00	yellow	1
5	Zoe	Conway	1974-07-03 00:00:00	blue	2
9	Merritt	Guy	1974-10-17 00:00:00	indigo	4
10	Kylan	Sexton	1975-03-01 00:00:00	black	4
11	Jordan	Estes	1969-12-07 00:00:00	indigo	4
17	Chanda	Boyer	1973-04-01 00:00:00	green	4
7	Driscoll	Klein	1970-10-05 00:00:00	blue	5
12	Hope	Coffey	1973-12-24 00:00:00	green	5
13	Vivian	Crane	1970-08-27 00:00:00	gray	5
14	Clio	Noel	1972-12-12 00:00:00	red	5
15	Hope	Silva	1970-07-01 00:00:00	blue	5
16	Ayanna	Jarvis	1974-02-11 00:00:00	orange	5
Time taken: 0.103 seconds, Fetched: 15 row(s)

In [29]:
!ls -l /Volumes/Data/big-data/hive-3.1.0/warehouse/dmldb.db/persons3

total 0
drwxr-xr-x  4 jdvelasq  staff  128 Oct  5 13:39 quantity=1
drwxr-xr-x  4 jdvelasq  staff  128 Oct  5 13:39 quantity=2
drwxr-xr-x  4 jdvelasq  staff  128 Oct  5 13:39 quantity=4
drwxr-xr-x  4 jdvelasq  staff  128 Oct  5 13:39 quantity=5

In [30]:
!ls -l /Volumes/Data/big-data/hive-3.1.0/warehouse/dmldb.db/persons3/quantity=1

total 8
-rw-r--r--  1 jdvelasq  staff  164 Oct  5 13:39 000000_0

In [31]:
!cat /Volumes/Data/big-data/hive-3.1.0/warehouse/dmldb.db/persons3/quantity=1/000000_0

4RothFry1975-01-29 00:00:00black
6GretchenKinney1974-10-18 00:00:00viole
8KarynDiaz1969-02-24 00:00:00red
18ChadwickKnight1973-04-29 00:00:00yellow

In [32]:
!cat /Volumes/Data/big-data/hive-3.1.0/warehouse/dmldb.db/persons3/quantity=2/000000_0

5ZoeConway1974-07-03 00:00:00blue

In [33]:
!cat /Volumes/Data/big-data/hive-3.1.0/warehouse/dmldb.db/persons3/quantity=4/000000_0

9MerrittGuy1974-10-17 00:00:00indigo
10KylanSexton1975-03-01 00:00:00black
11JordanEstes1969-12-07 00:00:00indigo
17ChandaBoyer1973-04-01 00:00:00green

In [34]:
!cat /Volumes/Data/big-data/hive-3.1.0/warehouse/dmldb.db/persons3/quantity=5/000000_0

7DriscollKlein1970-10-05 00:00:00blue
12HopeCoffey1973-12-24 00:00:00green
13VivianCrane1970-08-27 00:00:00gray
14ClioNoel1972-12-12 00:00:00red
15HopeSilva1970-07-01 00:00:00blue
16AyannaJarvis1974-02-11 00:00:00orange

---

In [35]:
%%hive
-- limpia la base de datos
DROP DATABASE IF EXISTS DMLdb CASCADE;

OK
Time taken: 0.655 seconds

In [36]:
!rm persons*

---