Consultas -- Básico
===

In [1]:
%run bd.py
%hive_init

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/Volumes/Data/big-data/hive-3.1.0/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/Volumes/Data/big-data/hadoop-3.1.1/share/hadoop/common/lib/slf4j-log4j12-1.7.25.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
Hive Session ID = af18c2a0-980a-4bc4-b952-d222c21a4f4b

Logging initialized using configuration in jar:file:/Volumes/Data/big-data/hive-3.1.0/lib/hive-common-3.1.0.jar!/hive-log4j2.properties Async: true
Hive Session ID = 96ab95ac-74fa-475f-ad3c-4bef14495d47
Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.

---

In [2]:
%%hive
DROP DATABASE IF EXISTS SQLdb CASCADE;

CREATE DATABASE SQLdb;
USE SQLdb;

CREATE TABLE persons (
    id INT,
    firstname VARCHAR(10),
    surname VARCHAR(10),
    birthday DATE,
    color VARCHAR(10),
    quantity INT
);

INSERT INTO persons VALUES
    (1,"Vivian","Hamilton","1971-07-08","green",1),
    (2,"Karen","Holcomb","1974-05-23","green",4),
    (3,"Cody","Garrett","1973-04-22","orange",1),
    (4,"Roth","Fry","1975-01-29","black",1),
    (5,"Zoe","Conway","1974-07-03","blue",2),
    (6,"Gretchen","Kinney","1974-10-18","violea",1),
    (7,"Driscoll","Klein","1970-10-05","blue",5),
    (8,"Karyn","Diaz","1969-02-24","red",1),
    (9,"Merritt","Guy","1974-10-17","indigo",4),
    (10,"Kylan","Sexton","1975-02-28","black",4),
    (11,"Jordan","Estes","1969-12-07","indigo",4),
    (12,"Hope","Coffey","1973-12-24","green",5),
    (13,"Vivian","Crane","1970-08-27","gray",5),
    (14,"Clio","Noel","1972-12-12","red",5),
    (15,"Hope","Silva","1970-07-01","blue",5),
    (16,"Ayanna","Jarvis","1974-02-11","orange",5),
    (17,"Chanda","Boyer","1973-04-01","green",4),
    (18,"Chadwick","Knight","1973-04-29","yellow",1);

OK
Time taken: 0.877 seconds
OK
Time taken: 0.167 seconds
OK
Time taken: 0.008 seconds
OK
Time taken: 0.364 seconds
Query ID = jdvelasq_20181017153804_134103fc-8b9a-4fc2-bd74-b972025ada00
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-10-17 15:38:08,730 Stage-1 map = 100%,  reduce = 0%
Ended Job = job_local1840142150_0001
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/Volumes/Data/hive-warehouse/sqldb.db/persons/.hive-staging_hive_2018-10-17_15-38-04_739_3565304840131412231-1/-ext-10000
Loading data to table sqldb.persons
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 4.149 seconds

---

## Selección de datos

### SELECT

    SELECT what FROM tbl_name [WHERE where-conditions] [ORDER BY column_name];

In [3]:
%%hive
--
-- Este es el comando básico para visualizar el contenido de la BD
--
SELECT * FROM persons;

OK
1	Vivian	Hamilton	1971-07-08	green	1
2	Karen	Holcomb	1974-05-23	green	4
3	Cody	Garrett	1973-04-22	orange	1
4	Roth	Fry	1975-01-29	black	1
5	Zoe	Conway	1974-07-03	blue	2
6	Gretchen	Kinney	1974-10-18	violea	1
7	Driscoll	Klein	1970-10-05	blue	5
8	Karyn	Diaz	1969-02-24	red	1
9	Merritt	Guy	1974-10-17	indigo	4
10	Kylan	Sexton	1975-02-28	black	4
11	Jordan	Estes	1969-12-07	indigo	4
12	Hope	Coffey	1973-12-24	green	5
13	Vivian	Crane	1970-08-27	gray	5
14	Clio	Noel	1972-12-12	red	5
15	Hope	Silva	1970-07-01	blue	5
16	Ayanna	Jarvis	1974-02-11	orange	5
17	Chanda	Boyer	1973-04-01	green	4
18	Chadwick	Knight	1973-04-29	yellow	1
Time taken: 0.144 seconds, Fetched: 18 row(s)

In [4]:
%%hive
--
-- Selección de campos específicos
--
SELECT firstname, surname, birthday FROM persons;

OK
Vivian	Hamilton	1971-07-08
Karen	Holcomb	1974-05-23
Cody	Garrett	1973-04-22
Roth	Fry	1975-01-29
Zoe	Conway	1974-07-03
Gretchen	Kinney	1974-10-18
Driscoll	Klein	1970-10-05
Karyn	Diaz	1969-02-24
Merritt	Guy	1974-10-17
Kylan	Sexton	1975-02-28
Jordan	Estes	1969-12-07
Hope	Coffey	1973-12-24
Vivian	Crane	1970-08-27
Clio	Noel	1972-12-12
Hope	Silva	1970-07-01
Ayanna	Jarvis	1974-02-11
Chanda	Boyer	1973-04-01
Chadwick	Knight	1973-04-29
Time taken: 0.094 seconds, Fetched: 18 row(s)

### LIMIT

In [5]:
%%hive
--
-- Se limita la cantidad de registros a visualizar.
--
SELECT * FROM persons LIMIT 3;

OK
1	Vivian	Hamilton	1971-07-08	green	1
2	Karen	Holcomb	1974-05-23	green	4
3	Cody	Garrett	1973-04-22	orange	1
Time taken: 0.112 seconds, Fetched: 3 row(s)

In [6]:
%%hive
--
-- Grupo especifico de registros a visualizar
--
SELECT * FROM persons LIMIT 2,5;

OK
3	Cody	Garrett	1973-04-22	orange	1
4	Roth	Fry	1975-01-29	black	1
5	Zoe	Conway	1974-07-03	blue	2
6	Gretchen	Kinney	1974-10-18	violea	1
7	Driscoll	Klein	1970-10-05	blue	5
Time taken: 0.098 seconds, Fetched: 5 row(s)

### WHERE

In [7]:
%%hive
--
-- Condicional.
--
SELECT * FROM persons WHERE color = "blue";

OK
5	Zoe	Conway	1974-07-03	blue	2
7	Driscoll	Klein	1970-10-05	blue	5
15	Hope	Silva	1970-07-01	blue	5
Time taken: 0.152 seconds, Fetched: 3 row(s)

### Operadores relacionales

In [8]:
%%hive
--
-- Operadores relacionales
--
SELECT * FROM persons WHERE quantity > 2;

OK
2	Karen	Holcomb	1974-05-23	green	4
7	Driscoll	Klein	1970-10-05	blue	5
9	Merritt	Guy	1974-10-17	indigo	4
10	Kylan	Sexton	1975-02-28	black	4
11	Jordan	Estes	1969-12-07	indigo	4
12	Hope	Coffey	1973-12-24	green	5
13	Vivian	Crane	1970-08-27	gray	5
14	Clio	Noel	1972-12-12	red	5
15	Hope	Silva	1970-07-01	blue	5
16	Ayanna	Jarvis	1974-02-11	orange	5
17	Chanda	Boyer	1973-04-01	green	4
Time taken: 0.081 seconds, Fetched: 11 row(s)

In [9]:
%%hive
--
-- Condicional con fechas
--
SELECT * FROM persons WHERE birthday >= "1974-01-01";

OK
2	Karen	Holcomb	1974-05-23	green	4
4	Roth	Fry	1975-01-29	black	1
5	Zoe	Conway	1974-07-03	blue	2
6	Gretchen	Kinney	1974-10-18	violea	1
9	Merritt	Guy	1974-10-17	indigo	4
10	Kylan	Sexton	1975-02-28	black	4
16	Ayanna	Jarvis	1974-02-11	orange	5
Time taken: 0.092 seconds, Fetched: 7 row(s)

In [10]:
%%hive
--
-- resultados de condicionales
-- NO FUNCIONA EN HIVE
--
SELECT firstname, firstname < 'g', quantity, quantity >= 3 FROM persons;

OK
Vivian	true	1	false
Karen	true	4	true
Cody	true	1	false
Roth	true	1	false
Zoe	true	2	false
Gretchen	true	1	false
Driscoll	true	5	true
Karyn	true	1	false
Merritt	true	4	true
Kylan	true	4	true
Jordan	true	4	true
Hope	true	5	true
Vivian	true	5	true
Clio	true	5	true
Hope	true	5	true
Ayanna	true	5	true
Chanda	true	4	true
Chadwick	true	1	false
Time taken: 0.081 seconds, Fetched: 18 row(s)

In [11]:
%%hive
DROP TABLE IF EXISTS jointable;

CREATE TABLE  jointable (
    letter_id INT,
    letter VARCHAR(1)
);

INSERT INTO jointable VALUES
    (1,"A"),
    (2,"B"),
    (3,"C"),
    (24,"X"),
    (25,"Y"),
    (26,"Z");

SELECT * FROM jointable;

OK
Time taken: 0.024 seconds
OK
Time taken: 0.03 seconds
Query ID = jdvelasq_20181017153812_bd696ddd-f9bf-41a2-95bc-113c8014ef60
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-17 15:38:14,335 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1146906089_0002
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/Volumes/Data/hive-warehouse/sqldb.db/jointable/.hive-staging_hive_2018-10-17_15-38-12_585_8040065933581104083-1/-ext-10000
Loading data to table sqldb.jointable
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 2.071 seconds
OK
1	A
2	B
3	C
24	X
25	Y
26	Z
Time taken: 0.072 seconds, Fetched: 6 row(s)

### Subsonsultas

In [12]:
%%hive
SELECT * FROM jointable
WHERE letter_id = (SELECT id FROM persons WHERE firstname = 'Karen');

Warning: Map Join MAPJOIN[31][bigTable=?] in task 'Stage-5:MAPRED' is a cross product
Query ID = jdvelasq_20181017153814_039c2fa6-8dfa-4e38-96e2-bca86bc1fd72
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-17 15:38:16,812 Stage-3 map = 100%,  reduce = 100%
Ended Job = job_local1755642924_0003
SLF4J: Found binding in [jar:file:/Volumes/Data/big-data/hive-3.1.0/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/Volumes/Data/big-data/hadoop-3.1.1/share/hadoop/common/lib/slf4j-log4j12-1.7.25.jar!/org/slf4j/impl/StaticLoggerBinder.class]
2018-10-17 15:38:29	Starting to launch local task to process map join;	maximum memory = 239075328

2018-10-17 15:38:29	Dump the side-table for tag: 0 with group count: 1 into file: file:/tmp/hive/java/jdvelasq/af18c2a0-980a-4bc4-b952-d222c21a4f4b/hive_2018-10-17_15-38-14_978_8401829010157969480-1/-local-10006/HashTable-Stage-5/MapJoin-mapfile10--.hashtable
2018-10-17 15:38:29	End of local task; Time Taken: 0.567 sec.
Execution completed successfully
MapredLocal task succeeded
Launching Job 2 out of 2
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-10-17 15:38:33,610 Stage-5 map = 100%,  reduce = 0%
Ended Job = job_local620034263_0004
MapReduce Jobs Launched:
Stage-Stage-3:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Stage-Stage-5:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
2	B
Time taken: 18.639 seconds, Fetched: 1 row(s)

In [13]:
%%hive
--
-- Sub-consultas.
-- Busca la persona más vieja en la tabla.
--
SELECT * FROM persons WHERE birthday = (SELECT MIN(birthday) FROM persons);

;
Query ID = jdvelasq_20181017153833_306f9acc-e7c9-4bf0-a0e0-72749f7038fb
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-17 15:38:35,544 Stage-2 map = 100%,  reduce = 100%
Ended Job = job_local836258394_0005
SLF4J: Found binding in [jar:file:/Volumes/Data/big-data/hive-3.1.0/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
2018-10-17 15:38:47	Starting to launch local task to process map join;	maximum memory = 239075328

2018-10-17 15:38:48	End of local task; Time Taken: 0.532 sec.
Execution completed successfully
MapredLocal task succeeded
Launching Job 2 out of 2
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-10-17 15:38:52,242 Stage-3 map = 100%,  reduce = 0%
Ended Job = job_local2001826212_0006
MapReduce Jobs Launched:
Stage-Stage-2:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Stage-Stage-3:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
8	Karyn	Diaz	1969-02-24	red	1
Time taken: 18.319 seconds, Fetched: 1 row(s)

---

> Otros ejemplos son presentados [aquí](https://github.com/jdvelasq/bash-for-analytics/blob/master/05-sql.ipynb)

----

### DISTINCT

In [14]:
%%hive
SELECT color FROM persons;

OK
green
green
orange
black
blue
violea
blue
red
indigo
black
indigo
green
gray
red
blue
orange
green
yellow
Time taken: 0.067 seconds, Fetched: 18 row(s)

In [15]:
%%hive
SELECT DISTINCT color FROM persons;

Query ID = jdvelasq_20181017153852_989b44a7-ea06-4782-b883-737b02d11b73
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-17 15:38:54,026 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1636461217_0007
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
black
blue
gray
green
indigo
orange
red
violea
yellow
Time taken: 1.556 seconds, Fetched: 9 row(s)

In [16]:
%%hive
--
-- Este comando permite ver los registro únicos de un campo.
--
SELECT DISTINCT surname FROM persons;

Query ID = jdvelasq_20181017153854_ee5c2634-3ff6-4f21-8f0c-6010edc0f54d
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-17 15:38:55,974 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local986633583_0008
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Boyer
Coffey
Conway
Crane
Diaz
Estes
Fry
Garrett
Guy
Hamilton
Holcomb
Jarvis
Kinney
Klein
Knight
Noel
Sexton
Silva
Time taken: 1.699 seconds, Fetched: 18 row(s)

In [17]:
%%hive
SELECT DISTINCT YEAR(birthday), MONTH(birthday), DAYOFMONTH(birthday) FROM persons;

 persons;
Query ID = jdvelasq_20181017153856_bef9971b-3e54-46c8-8cd0-7e12cbb8b923
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-17 15:38:57,781 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local471039049_0009
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
1969	2	24
1969	12	7
1970	7	1
1970	8	27
1970	10	5
1971	7	8
1972	12	12
1973	4	1
1973	4	22
1973	4	29
1973	12	24
1974	2	11
1974	5	23
1974	7	3
1974	10	17
1974	10	18
1975	1	29
1975	2	28
Time taken: 1.72 seconds, Fetched: 18 row(s)

In [18]:
%%hive
--
-- numero de colores diferentes
--
SELECT COUNT(DISTINCT color) FROM persons;

Query ID = jdvelasq_20181017153858_a06ef2d1-244c-446b-9c2e-3c71093c4b50
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-17 15:38:59,700 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1808967036_0010
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
9
Time taken: 1.666 seconds, Fetched: 1 row(s)

### NULL

In [19]:
%%hive
DROP TABLE IF EXISTS nulltable;
CREATE TABLE  nulltable (
    col1 INT,
    col2 VARCHAR(1)
);

INSERT INTO nulltable VALUES
    (1,"A"),
    (2,NULL),
    (NULL,"C"),
    (NULL,NULL),
    (5,"E");

SELECT * FROM nulltable;

OK
Time taken: 0.004 seconds
OK
Time taken: 0.032 seconds
Query ID = jdvelasq_20181017153900_82f402c0-9e38-491a-8037-5a913ec63615
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-17 15:39:02,207 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local259858853_0011
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/Volumes/Data/hive-warehouse/sqldb.db/nulltable/.hive-staging_hive_2018-10-17_15-39-00_426_7553573792791608184-1/-ext-10000
Loading data to table sqldb.nulltable
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 1.875 seconds
OK
1	A
2	NULL
NULL	C
NULL	NULL
5	E
Time taken: 0.061 seconds, Fetched: 5 row(s)

In [20]:
%%hive
SELECT * FROM nulltable WHERE col1 IS NULL;

OK
NULL	C
NULL	NULL
Time taken: 0.074 seconds, Fetched: 2 row(s)

In [21]:
%%hive
SELECT * FROM nulltable WHERE col2 IS NULL;

OK
2	NULL
NULL	NULL
Time taken: 0.205 seconds, Fetched: 2 row(s)

In [22]:
%%hive
--
-- condicionales
--
SELECT 
    IF(col1 IS NULL,'Unknown', col1), 
    IF(col2 IS NULL,'Unknown', col2) 
FROM 
    nulltable;

OK
1	A
2	Unknown
Unknown	C
Unknown	Unknown
5	E
Time taken: 0.072 seconds, Fetched: 5 row(s)

In [23]:
%%hive
--
-- condicionales
-- No existe en Hive
-- SELECT 
--     IFNULL(col1,'Unknown'), 
--     IFNULL(col2,'Unknown')
-- FROM 
--     nulltable;

### ORDER BY

In [24]:
%%hive
SELECT * FROM persons;

OK
1	Vivian	Hamilton	1971-07-08	green	1
2	Karen	Holcomb	1974-05-23	green	4
3	Cody	Garrett	1973-04-22	orange	1
4	Roth	Fry	1975-01-29	black	1
5	Zoe	Conway	1974-07-03	blue	2
6	Gretchen	Kinney	1974-10-18	violea	1
7	Driscoll	Klein	1970-10-05	blue	5
8	Karyn	Diaz	1969-02-24	red	1
9	Merritt	Guy	1974-10-17	indigo	4
10	Kylan	Sexton	1975-02-28	black	4
11	Jordan	Estes	1969-12-07	indigo	4
12	Hope	Coffey	1973-12-24	green	5
13	Vivian	Crane	1970-08-27	gray	5
14	Clio	Noel	1972-12-12	red	5
15	Hope	Silva	1970-07-01	blue	5
16	Ayanna	Jarvis	1974-02-11	orange	5
17	Chanda	Boyer	1973-04-01	green	4
18	Chadwick	Knight	1973-04-29	yellow	1
Time taken: 0.061 seconds, Fetched: 18 row(s)

In [25]:
%%hive
--
-- Selecciona el primer registro
--
SELECT * FROM persons ORDER BY birthday LIMIT 1;

Query ID = jdvelasq_20181017153904_27b4bb4a-54e2-4bc4-bfe3-19afedf55a26
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-17 15:39:05,823 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1886661098_0012
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
8	Karyn	Diaz	1969-02-24	red	1
Time taken: 1.574 seconds, Fetched: 1 row(s)

In [26]:
%%hive
--
-- Selecciona el último registro
--
SELECT * FROM persons ORDER BY birthday DESC LIMIT 1;

Query ID = jdvelasq_20181017153906_0195fb76-0dc0-44ce-8eeb-ebafedc016b5
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-17 15:39:07,754 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local452595430_0013
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
10	Kylan	Sexton	1975-02-28	black	4
Time taken: 1.68 seconds, Fetched: 1 row(s)

In [27]:
%%hive
--
-- Selecciona una perte intermedia de los registros
--
SELECT * FROM persons ORDER BY birthday LIMIT 3,2;

Query ID = jdvelasq_20181017153908_ae5132df-2a7a-4cb7-8863-4c1725233e25
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-17 15:39:09,744 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local299950372_0014
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
13	Vivian	Crane	1970-08-27	gray	5
7	Driscoll	Klein	1970-10-05	blue	5
Time taken: 1.739 seconds, Fetched: 2 row(s)

In [28]:
%%hive
--
-- Orden ascendente
--
SELECT * FROM persons WHERE quantity > 2 ORDER BY quantity, color;

Query ID = jdvelasq_20181017153909_770ddff5-0f0c-4bcc-bb46-c97da911a5ef
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-17 15:39:11,680 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1367480493_0015
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
10	Kylan	Sexton	1975-02-28	black	4
17	Chanda	Boyer	1973-04-01	green	4
2	Karen	Holcomb	1974-05-23	green	4
11	Jordan	Estes	1969-12-07	indigo	4
9	Merritt	Guy	1974-10-17	indigo	4
15	Hope	Silva	1970-07-01	blue	5
7	Driscoll	Klein	1970-10-05	blue	5
13	Vivian	Crane	1970-08-27	gray	5
12	Hope	Coffey	1973-12-24	green	5
16	Ayanna	Jarvis	1974-02-11	orange	5
14	Clio	Noel	1972-12-12	red	5
Time taken: 1.688 seconds, Fetched: 11 row(s)

In [29]:
%%hive
--
-- Orden descendente en quantity
--
SELECT * FROM persons WHERE quantity > 2 ORDER BY quantity DESC, color;

Query ID = jdvelasq_20181017153911_2b3a4b66-f385-475e-81e3-8947fff20d2a
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-17 15:39:13,622 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local579451863_0016
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
15	Hope	Silva	1970-07-01	blue	5
7	Driscoll	Klein	1970-10-05	blue	5
13	Vivian	Crane	1970-08-27	gray	5
12	Hope	Coffey	1973-12-24	green	5
16	Ayanna	Jarvis	1974-02-11	orange	5
14	Clio	Noel	1972-12-12	red	5
10	Kylan	Sexton	1975-02-28	black	4
17	Chanda	Boyer	1973-04-01	green	4
2	Karen	Holcomb	1974-05-23	green	4
11	Jordan	Estes	1969-12-07	indigo	4
9	Merritt	Guy	1974-10-17	indigo	4
Time taken: 1.691 seconds, Fetched: 11 row(s)

### JOIN

Los joins permiten unir la información de dos o más tablas. Los distintos tipos de joins son explicados en la siguiente gráfica:

![joins.jpg](images/joins.jpg)

In [30]:
%%hive
SELECT id, firstname, letter
FROM persons INNER JOIN jointable ON id = letter_id;

Query ID = jdvelasq_20181017153913_66f90136-02eb-48ac-b58f-128620df483c
Total jobs = 1
SLF4J: Found binding in [jar:file:/Volumes/Data/big-data/hive-3.1.0/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]

SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
2018-10-17 15:39:27	Dump the side-table for tag: 1 with group count: 6 into file: file:/tmp/hive/java/jdvelasq/af18c2a0-980a-4bc4-b952-d222c21a4f4b/hive_2018-10-17_15-39-13_769_5202159021142400961-1/-local-10004/HashTable-Stage-3/MapJoin-mapfile31--.hashtable
2018-10-17 15:39:27	End of local task; Time Taken: 0.609 sec.
Execution completed successfully
MapredLocal task succeeded
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-10-17 15:39:31,916 Stage-3 map = 100%,  reduce = 0%
Ended Job = job_local1572442549_0017
MapReduce Jobs Launched:
Stage-Stage-3:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
1	Vivian	A
2	Karen	B
3	Cody	C
Time taken: 18.151 seconds, Fetched: 3 row(s)

### INSERT OVERWRITE

In [31]:
!mkdir output

In [32]:
%%hive
INSERT OVERWRITE LOCAL DIRECTORY 
    '/tmp/output' 
ROW FORMAT 
DELIMITED FIELDS TERMINATED BY ',' 
SELECT * FROM persons;

Query ID = jdvelasq_20181017153932_f145d4e2-d32a-4be9-ac9f-5374db79506c
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-10-17 15:39:33,872 Stage-1 map = 100%,  reduce = 0%
Ended Job = job_local1791040591_0018
Moving data to local directory /tmp/output
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 1.532 seconds

In [33]:
!ls /tmp/output/*

/tmp/output/000000_0

In [34]:
!cat /tmp/output/000000_0

1,Vivian,Hamilton,1971-07-08,green,1
2,Karen,Holcomb,1974-05-23,green,4
3,Cody,Garrett,1973-04-22,orange,1
4,Roth,Fry,1975-01-29,black,1
5,Zoe,Conway,1974-07-03,blue,2
6,Gretchen,Kinney,1974-10-18,violea,1
7,Driscoll,Klein,1970-10-05,blue,5
8,Karyn,Diaz,1969-02-24,red,1
9,Merritt,Guy,1974-10-17,indigo,4
10,Kylan,Sexton,1975-02-28,black,4
11,Jordan,Estes,1969-12-07,indigo,4
12,Hope,Coffey,1973-12-24,green,5
13,Vivian,Crane,1970-08-27,gray,5
14,Clio,Noel,1972-12-12,red,5
15,Hope,Silva,1970-07-01,blue,5
16,Ayanna,Jarvis,1974-02-11,orange,5
17,Chanda,Boyer,1973-04-01,green,4
18,Chadwick,Knight,1973-04-29,yellow,1

In [35]:
!rm -rf /tmp/ouput

---