Consultas -- Avanzado
===

In [1]:
%run bd.py
%hive_init

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/Volumes/Data/big-data/hive-3.1.0/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/Volumes/Data/big-data/hadoop-3.1.1/share/hadoop/common/lib/slf4j-log4j12-1.7.25.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
Hive Session ID = fc008a1a-0b93-4f1e-aeda-273e97b10bcf

Logging initialized using configuration in jar:file:/Volumes/Data/big-data/hive-3.1.0/lib/hive-common-3.1.0.jar!/hive-log4j2.properties Async: true
Hive Session ID = d3a528d1-de3b-464f-a8b6-6de60980970f
Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.

In [2]:
%%hive
DROP DATABASE IF EXISTS SQLdb CASCADE;
CREATE DATABASE SQLdb;
USE SQLdb;

CREATE TABLE persons (
    id INT,
    firstname VARCHAR(10),
    surname VARCHAR(10),
    birthday DATE,
    color VARCHAR(10),
    quantity INT
);

INSERT INTO persons VALUES
    (1,"Vivian","Hamilton","1971-07-08","green",1),
    (2,"Karen","Holcomb","1974-05-23","green",4),
    (3,"Cody","Garrett","1973-04-22","orange",1),
    (4,"Roth","Fry","1975-01-29","black",1),
    (5,"Zoe","Conway","1974-07-03","blue",2),
    (6,"Gretchen","Kinney","1974-10-18","violet",1),
    (7,"Driscoll","Klein","1970-10-05","blue",5),
    (8,"Karyn","Diaz","1969-02-24","red",1),
    (9,"Merritt","Guy","1974-10-17","indigo",4),
    (10,"Kylan","Sexton","1975-02-28","black",4),
    (11,"Jordan","Estes","1969-12-07","indigo",4),
    (12,"Hope","Coffey","1973-12-24","green",5),
    (13,"Vivian","Crane","1970-08-27","gray",5),
    (14,"Clio","Noel","1972-12-12","red",5),
    (15,"Hope","Silva","1970-07-01","blue",5),
    (16,"Ayanna","Jarvis","1974-02-11","orange",5),
    (17,"Chanda","Boyer","1973-04-01","green",4),
    (18,"Chadwick","Knight","1973-04-29","yellow",1);

OK
Time taken: 1.824 seconds
OK
Time taken: 0.094 seconds
OK
Time taken: 0.007 seconds
OK
Time taken: 0.255 seconds
Query ID = jdvelasq_20181005134436_a2709f45-c17c-4ba2-bcdc-dcf74709de0e
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-10-05 13:44:40,628 Stage-1 map = 100%,  reduce = 0%
Ended Job = job_local1805266491_0001
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/Volumes/Data/big-data/hive-3.1.0/warehouse/sqldb.db/persons/.hive-staging_hive_2018-10-05_13-44-36_736_6107996155136150795-1/-ext-10000
Loading data to table sqldb.persons
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 4.017 seconds

---

## Strings

### CONCAT()

In [3]:
%%hive
SELECT 
    CONCAT(firstname,'@',surname),  
    quantity 
FROM 
    persons;

OK
Vivian@Hamilton	1
Karen@Holcomb	4
Cody@Garrett	1
Roth@Fry	1
Zoe@Conway	2
Gretchen@Kinney	1
Driscoll@Klein	5
Karyn@Diaz	1
Merritt@Guy	4
Kylan@Sexton	4
Jordan@Estes	4
Hope@Coffey	5
Vivian@Crane	5
Clio@Noel	5
Hope@Silva	5
Ayanna@Jarvis	5
Chanda@Boyer	4
Chadwick@Knight	1
Time taken: 0.145 seconds, Fetched: 18 row(s)

### LENGTH()

In [4]:
%%hive
SELECT surname, LENGTH(surname), CHAR_LENGTH(surname) FROM persons LIMIT 5;

;
OK
Hamilton	8	8
Holcomb	7	7
Garrett	7	7
Fry	3	3
Conway	6	6
Time taken: 0.087 seconds, Fetched: 5 row(s)

### UPPER(), LOWER()

In [5]:
%%hive
SELECT surname, UPPER(surname), LOWER(surname) FROM persons LIMIT 5;

OK
Hamilton	HAMILTON	hamilton
Holcomb	HOLCOMB	holcomb
Garrett	GARRETT	garrett
Fry	FRY	fry
Conway	CONWAY	conway
Time taken: 0.092 seconds, Fetched: 5 row(s)

In [6]:
%%hive
--
-- Condicional para strings
--
SELECT surname, surname BETWEEN 'c' AND 'k' FROM persons LIMIT 5;

OK
Hamilton	false
Holcomb	false
Garrett	false
Fry	false
Conway	false
Time taken: 0.085 seconds, Fetched: 5 row(s)

### LIKE

La función LIKE permite buscar patrones específicos dentro de cadenas de caracteres.

    > LIKE 'a%'   : Encuentra los valores que inician con 'a'
    > LIKE '%a'   : Encuentra los valores que terminan con 'a'
    > LIKE '%a%'  : Encuentra los valores que contengan 'a' en cualquier posición
    > LIKE '_a%'  : Encuentra los valores que contengan 'a' en la segunda posición
    > LIKE 'a_%_%': Encuentra los valores que inician con 'a' y tienen al menos 3 caracteres
    > LIKE 'a%o'  : Encuentra los valores que inician con 'a' y terminan con 'o'

In [7]:
%%hive
SELECT * FROM persons WHERE color LIKE 'b%';

OK
4	Roth	Fry	1975-01-29	black	1
5	Zoe	Conway	1974-07-03	blue	2
7	Driscoll	Klein	1970-10-05	blue	5
10	Kylan	Sexton	1975-02-28	black	4
15	Hope	Silva	1970-07-01	blue	5
Time taken: 0.118 seconds, Fetched: 5 row(s)

In [8]:
%%hive
SELECT * FROM persons WHERE color NOT LIKE 'b%';

OK
1	Vivian	Hamilton	1971-07-08	green	1
2	Karen	Holcomb	1974-05-23	green	4
3	Cody	Garrett	1973-04-22	orange	1
6	Gretchen	Kinney	1974-10-18	violet	1
8	Karyn	Diaz	1969-02-24	red	1
9	Merritt	Guy	1974-10-17	indigo	4
11	Jordan	Estes	1969-12-07	indigo	4
12	Hope	Coffey	1973-12-24	green	5
13	Vivian	Crane	1970-08-27	gray	5
14	Clio	Noel	1972-12-12	red	5
16	Ayanna	Jarvis	1974-02-11	orange	5
17	Chanda	Boyer	1973-04-01	green	4
18	Chadwick	Knight	1973-04-29	yellow	1
Time taken: 0.076 seconds, Fetched: 13 row(s)

In [9]:
%%hive
--
-- Conectores lógicos (AND).
--
SELECT * FROM persons WHERE color = 'blue' AND firstname LIKE 'Z%';

OK
5	Zoe	Conway	1974-07-03	blue	2
Time taken: 0.106 seconds, Fetched: 1 row(s)

In [10]:
%%hive
--
-- Conectores lógicos (OR).
--
SELECT * FROM persons WHERE color = 'blue' OR firstname LIKE 'K%';

OK
2	Karen	Holcomb	1974-05-23	green	4
5	Zoe	Conway	1974-07-03	blue	2
7	Driscoll	Klein	1970-10-05	blue	5
8	Karyn	Diaz	1969-02-24	red	1
10	Kylan	Sexton	1975-02-28	black	4
15	Hope	Silva	1970-07-01	blue	5
Time taken: 0.098 seconds, Fetched: 6 row(s)

In [11]:
%%hive
--
-- Condicional para campos string
--
SELECT * FROM persons WHERE color IN ('blue','black');

OK
4	Roth	Fry	1975-01-29	black	1
5	Zoe	Conway	1974-07-03	blue	2
7	Driscoll	Klein	1970-10-05	blue	5
10	Kylan	Sexton	1975-02-28	black	4
15	Hope	Silva	1970-07-01	blue	5
Time taken: 0.079 seconds, Fetched: 5 row(s)

In [12]:
%%hive
--
-- Condicional para campos string
--
SELECT * FROM persons WHERE color NOT IN ('blue','black');

OK
1	Vivian	Hamilton	1971-07-08	green	1
2	Karen	Holcomb	1974-05-23	green	4
3	Cody	Garrett	1973-04-22	orange	1
6	Gretchen	Kinney	1974-10-18	violet	1
8	Karyn	Diaz	1969-02-24	red	1
9	Merritt	Guy	1974-10-17	indigo	4
11	Jordan	Estes	1969-12-07	indigo	4
12	Hope	Coffey	1973-12-24	green	5
13	Vivian	Crane	1970-08-27	gray	5
14	Clio	Noel	1972-12-12	red	5
16	Ayanna	Jarvis	1974-02-11	orange	5
17	Chanda	Boyer	1973-04-01	green	4
18	Chadwick	Knight	1973-04-29	yellow	1
Time taken: 0.074 seconds, Fetched: 13 row(s)

### REGEXP

In [13]:
%%hive
--
-- El primer caracter es una 'b'
--
SELECT * FROM persons WHERE color REGEXP '^b';

OK
4	Roth	Fry	1975-01-29	black	1
5	Zoe	Conway	1974-07-03	blue	2
7	Driscoll	Klein	1970-10-05	blue	5
10	Kylan	Sexton	1975-02-28	black	4
15	Hope	Silva	1970-07-01	blue	5
Time taken: 0.084 seconds, Fetched: 5 row(s)

In [14]:
%%hive
--
-- El primer caracter no es una 'b'
--
SELECT * FROM persons WHERE color REGEXP '^[^b]';

OK
1	Vivian	Hamilton	1971-07-08	green	1
2	Karen	Holcomb	1974-05-23	green	4
3	Cody	Garrett	1973-04-22	orange	1
6	Gretchen	Kinney	1974-10-18	violet	1
8	Karyn	Diaz	1969-02-24	red	1
9	Merritt	Guy	1974-10-17	indigo	4
11	Jordan	Estes	1969-12-07	indigo	4
12	Hope	Coffey	1973-12-24	green	5
13	Vivian	Crane	1970-08-27	gray	5
14	Clio	Noel	1972-12-12	red	5
16	Ayanna	Jarvis	1974-02-11	orange	5
17	Chanda	Boyer	1973-04-01	green	4
18	Chadwick	Knight	1973-04-29	yellow	1
Time taken: 0.074 seconds, Fetched: 13 row(s)

In [15]:
%%hive
--
-- 
--
SELECT * FROM persons WHERE color REGEXP 'blue|green';

OK
1	Vivian	Hamilton	1971-07-08	green	1
2	Karen	Holcomb	1974-05-23	green	4
5	Zoe	Conway	1974-07-03	blue	2
7	Driscoll	Klein	1970-10-05	blue	5
12	Hope	Coffey	1973-12-24	green	5
15	Hope	Silva	1970-07-01	blue	5
17	Chanda	Boyer	1973-04-01	green	4
Time taken: 0.08 seconds, Fetched: 7 row(s)

In [16]:
%%hive
--
-- El segundo caracter es una 'r'
--
SELECT * FROM persons WHERE color REGEXP '.r';

OK
1	Vivian	Hamilton	1971-07-08	green	1
2	Karen	Holcomb	1974-05-23	green	4
3	Cody	Garrett	1973-04-22	orange	1
12	Hope	Coffey	1973-12-24	green	5
13	Vivian	Crane	1970-08-27	gray	5
16	Ayanna	Jarvis	1974-02-11	orange	5
17	Chanda	Boyer	1973-04-01	green	4
Time taken: 0.087 seconds, Fetched: 7 row(s)

In [17]:
%%hive
--
-- Finaliza en una vocal
--
SELECT * FROM persons WHERE color REGEXP '[aeiou]$';

OK
3	Cody	Garrett	1973-04-22	orange	1
5	Zoe	Conway	1974-07-03	blue	2
7	Driscoll	Klein	1970-10-05	blue	5
9	Merritt	Guy	1974-10-17	indigo	4
11	Jordan	Estes	1969-12-07	indigo	4
15	Hope	Silva	1970-07-01	blue	5
16	Ayanna	Jarvis	1974-02-11	orange	5
Time taken: 0.078 seconds, Fetched: 7 row(s)

In [18]:
%%hive
--
-- Inicia con una mayúscula
-- REVISAR: HIVE PARECE NO RECIBIR CAMPOS COMO MySQL
--
SELECT * FROM persons WHERE color REGEXP '^[[:upper:]]';

OK
8	Karyn	Diaz	1969-02-24	red	1
14	Clio	Noel	1972-12-12	red	5
Time taken: 0.07 seconds, Fetched: 2 row(s)

### MID(), SUBSTRING()

In [19]:
%%hive
--
--
--
SELECT 
    firstname, 
    SUBSTRING(firstname, 0, 2), -- LEFT()
    SUBSTRING(firstname, 3, 2), 
    SUBSTRING(firstname, -3)    -- RIGHT()
FROM 
    persons;

OK
Vivian	Vi	vi	ian
Karen	Ka	re	ren
Cody	Co	dy	ody
Roth	Ro	th	oth
Zoe	Zo	e	Zoe
Gretchen	Gr	et	hen
Driscoll	Dr	is	oll
Karyn	Ka	ry	ryn
Merritt	Me	rr	itt
Kylan	Ky	la	lan
Jordan	Jo	rd	dan
Hope	Ho	pe	ope
Vivian	Vi	vi	ian
Clio	Cl	io	lio
Hope	Ho	pe	ope
Ayanna	Ay	an	nna
Chanda	Ch	an	nda
Chadwick	Ch	ad	ick
Time taken: 0.082 seconds, Fetched: 18 row(s)

In [20]:
%%hive
--
-- Por posición
--
SELECT  
    firstname,
    SUBSTRING_INDEX(firstname, 'a', 1),
    SUBSTRING_INDEX(firstname, 'a', -1)
FROM 
    persons;

OK
Vivian	Vivi	n
Karen	K	ren
Cody	Cody	Cody
Roth	Roth	Roth
Zoe	Zoe	Zoe
Gretchen	Gretchen	Gretchen
Driscoll	Driscoll	Driscoll
Karyn	K	ryn
Merritt	Merritt	Merritt
Kylan	Kyl	n
Jordan	Jord	n
Hope	Hope	Hope
Vivian	Vivi	n
Clio	Clio	Clio
Hope	Hope	Hope
Ayanna	Ay
Chanda	Ch
Chadwick	Ch	dwick
Time taken: 0.092 seconds, Fetched: 18 row(s)

In [21]:
%%hive
--
-- Operadores relacionales con strings
-- Estas comparaciones no funcionan con Hive
--
SELECT firstname FROM persons WHERE SUBSTRING(firstname, 0, 1) >= 'm';

OK
Time taken: 0.066 seconds

### LOCATE()

In [22]:
%%hive
--
-- Retorna la posición del substring
--
SELECT firstname, LOCATE('ia', firstname) FROM persons;

OK
Vivian	4
Karen	0
Cody	0
Roth	0
Zoe	0
Gretchen	0
Driscoll	0
Karyn	0
Merritt	0
Kylan	0
Jordan	0
Hope	0
Vivian	4
Clio	0
Hope	0
Ayanna	0
Chanda	0
Chadwick	0
Time taken: 0.065 seconds, Fetched: 18 row(s)

## Fecha y hora

### DATE_FORMAT()

In [23]:
%%hive
--
-- Formatos para el año
--
SELECT 
    birthday, 
    DATE_FORMAT(birthday, "yyyy   yy")
FROM 
    persons
LIMIT
    5;

OK
1971-07-08	1971   71
1974-05-23	1974   74
1973-04-22	1973   73
1975-01-29	1975   75
1974-07-03	1974   74
Time taken: 0.082 seconds, Fetched: 5 row(s)

In [24]:
%%hive
--
-- Formatos para el mes
--
SELECT 
    birthday, 
    DATE_FORMAT(birthday, "MMM MM M")
FROM 
    persons
LIMIT
    5;

OK
1971-07-08	jul 07 7
1974-05-23	may 05 5
1973-04-22	abr 04 4
1975-01-29	ene 01 1
1974-07-03	jul 07 7
Time taken: 0.076 seconds, Fetched: 5 row(s)

In [25]:
%%hive
--
-- Formatos para el dia
--
SELECT 
    birthday, 
    DATE_FORMAT(birthday, "dd  d EEE EEEE")
FROM 
    persons
LIMIT
    5;

OK
1971-07-08	08  8 jue jueves
1974-05-23	23  23 jue jueves
1973-04-22	22  22 dom domingo
1975-01-29	29  29 mié miércoles
1974-07-03	03  3 mié miércoles
Time taken: 0.064 seconds, Fetched: 5 row(s)

In [26]:
%%hive
SELECT 
    month,
    count(1) AS count
FROM 
    (SELECT split(birthday, '-')[1] AS month FROM persons) l
GROUP BY
    month;

Query ID = jdvelasq_20181005134449_cf029c8e-c6ac-41b3-8fef-cc9ab4a63453
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:44:51,656 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local494569458_0002
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
01	1
02	3
04	3
05	1
07	3
08	1
10	3
12	3
Time taken: 1.926 seconds, Fetched: 8 row(s)

### CURRENT_DATE(), CURRENT_TIMESTAMP()

In [27]:
%%hive
SELECT CURRENT_DATE(), CURRENT_TIMESTAMP();

OK
2018-10-05	2018-10-05 18:44:51.76
Time taken: 0.079 seconds, Fetched: 1 row(s)

### YEAR(), MONTH(), DAYNAME(), ...

In [28]:
%%hive
DROP TABLE IF EXISTS tbltime; 
CREATE TABLE tbltime (ts TIMESTAMP, d DATE);
INSERT INTO tbltime VALUES
    ("2018-08-23 14:23:18", "2018-08-23"),
    ("2016-05-14 05:45:23", "2016-05-14"),
    ("2017-07-01 11:10:45", "2017-07-01");
SELECT * FROM tbltime;

OK
Time taken: 0.022 seconds
OK
Time taken: 0.027 seconds
Query ID = jdvelasq_20181005134452_7a880b20-d6a5-45f5-a88a-a0b5111e7e9c
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-10-05 13:44:53,818 Stage-1 map = 100%,  reduce = 0%
Ended Job = job_local1411490390_0003
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory file:/Volumes/Data/big-data/hive-3.1.0/warehouse/sqldb.db/tbltime/.hive-staging_hive_2018-10-05_13-44-52_229_8445482910682032272-1/-ext-10000
Loading data to table sqldb.tbltime
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 1.671 seconds
OK
2018-08-23 14:23:18	2018-08-23
2016-05-14 05:45:23	2016-05-14
2017-07-01 11:10:45	2017-07-01
Time taken: 0.058 seconds, Fetched: 3 row(s)

In [29]:
%%hive
SELECT
    ts,
    YEAR(ts),
    MONTH(ts),
    date_format(ts, 'MMM'),
    date_format(ts, 'MMMMM')
FROM
    tbltime;

OK
2018-08-23 14:23:18	2018	8	ago	agosto
2016-05-14 05:45:23	2016	5	may	mayo
2017-07-01 11:10:45	2017	7	jul	julio
Time taken: 0.064 seconds, Fetched: 3 row(s)

In [30]:
%%hive
SELECT
    ts,
    DAY(ts),
    DAYOFMONTH(ts),
    DATE_FORMAT(ts, 'EEE'),
    DATE_FORMAT(ts, 'EEEE'),
    DAYOFWEEK(ts)
FROM
    tbltime;

OK
2018-08-23 14:23:18	23	23	jue	jueves	5
2016-05-14 05:45:23	14	14	sáb	sábado	7
2017-07-01 11:10:45	1	1	sáb	sábado	7
Time taken: 0.081 seconds, Fetched: 3 row(s)

In [31]:
%%hive
SELECT
    ts,
    HOUR(ts),
    MINUTE(ts),
    SECOND(ts)
FROM
    tbltime;

OK
2018-08-23 14:23:18	14	23	18
2016-05-14 05:45:23	5	45	23
2017-07-01 11:10:45	11	10	45
Time taken: 0.069 seconds, Fetched: 3 row(s)

In [32]:
%%hive
SELECT
    ts,
    EXTRACT(YEAR FROM ts),
    EXTRACT(MONTH FROM ts),
    EXTRACT(HOUR FROM ts),
    EXTRACT(HOUR FROM ts),
    EXTRACT(MINUTE FROM ts),
    EXTRACT(SECOND FROM ts)
FROM
    tbltime;

OK
2018-08-23 14:23:18	2018	8	14	14	23	18
2016-05-14 05:45:23	2016	5	5	5	45	23
2017-07-01 11:10:45	2017	7	11	11	10	45
Time taken: 0.064 seconds, Fetched: 3 row(s)

### TIME_TO_SEC(), SEC_TO_TIME()

In [33]:
%%hive
-- estas funciones no existen en Hive
-- SELECT
--     t,
--     TIME_TO_SEC(t),
--     SEC_TO_TIME(TIME_TO_SEC(t))
-- FROM
--     tbltime;

### FROM_DAYS(), TO_DAYS()

In [34]:
%%hive
-- estas funciones no existen en Hive
-- SELECT
--     ts,
--     TO_DAYS(ts),
--     FROM_DAYS(TO_DAYS(ts))
-- FROM
--     tbltime;

### UNIX_TIMESTAMP, FROM_UNIXTIME()

In [35]:
%%hive
SELECT 
    ts,
    UNIX_TIMESTAMP(ts),
    FROM_UNIXTIME(UNIX_TIMESTAMP(ts))
FROM
    tbltime;

OK
2018-08-23 14:23:18	1535034198	2018-08-23 14:23:18
2016-05-14 05:45:23	1463204723	2016-05-14 05:45:23
2017-07-01 11:10:45	1498907445	2017-07-01 11:10:45
Time taken: 0.063 seconds, Fetched: 3 row(s)

### TIMEDIFF(), DATEDIFF(), TIMESTAMPDIFF()

In [36]:
%%hive
SELECT
    d,
    DATEDIFF("2018-12-30", d)
FROM
    tbltime;

OK
2018-08-23	129
2016-05-14	960
2017-07-01	547
Time taken: 0.064 seconds, Fetched: 3 row(s)

In [37]:
%%hive
-- Esta funcion no existe en hive
-- SELECT
--     t,
--     TIMEDIFF("23:05:18", t)
-- FROM
--     tbltime;

In [38]:
%%hive
-- Esta funcion no existe en Hive
-- SELECT
--     ts,
--     TIMESTAMPDIFF(YEAR, ts, "2018-12-31 23:05:18"),
--     TIMESTAMPDIFF(MONTH, ts, "2018-12-31 23:05:18"),
--     TIMESTAMPDIFF(WEEK, ts, "2018-12-31 23:05:18")
-- FROM
--     tbltime;

In [39]:
%%hive
SELECT
    ts,
    unix_timestamp("2018-12-31 23:05:18") - unix_timestamp(ts)
FROM
    tbltime;

OK
2018-08-23 14:23:18	11263320
2016-05-14 05:45:23	83092795
2017-07-01 11:10:45	47390073
Time taken: 0.073 seconds, Fetched: 3 row(s)

### ADDTIME()

In [40]:
%%hive
-- no existe en Hive
-- SELECT
--    t,
--    ADDTIME("23:05:18", t)
-- FROM
--    tbltime;

In [41]:
%%hive
SELECT
    d,
    DATE_ADD(d, 3),
    DATE_SUB(d, 3)
FROM
    tbltime;

OK
2018-08-23	2018-08-26	2018-08-20
2016-05-14	2016-05-17	2016-05-11
2017-07-01	2017-07-04	2017-06-28
Time taken: 0.059 seconds, Fetched: 3 row(s)

In [42]:
%%hive
SELECT
    d
FROM
    tbltime
WHERE 
    d BETWEEN "2017-01-01" AND "2017-12-31";

OK
2017-07-01
Time taken: 0.067 seconds, Fetched: 1 row(s)

## ORDER BY

In [43]:
%%hive
SELECT * FROM persons ORDER BY color;

Query ID = jdvelasq_20181005134500_4c34fa4c-1070-4001-8b25-abddf08881e7
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:45:01,679 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1478495431_0004
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
4	Roth	Fry	1975-01-29	black	1
10	Kylan	Sexton	1975-02-28	black	4
5	Zoe	Conway	1974-07-03	blue	2
7	Driscoll	Klein	1970-10-05	blue	5
15	Hope	Silva	1970-07-01	blue	5
13	Vivian	Crane	1970-08-27	gray	5
2	Karen	Holcomb	1974-05-23	green	4
12	Hope	Coffey	1973-12-24	green	5
17	Chanda	Boyer	1973-04-01	green	4
1	Vivian	Hamilton	1971-07-08	green	1
9	Merritt	Guy	1974-10-17	indigo	4
11	Jordan	Estes	1969-12-07	indigo	4
3	Cody	Garrett	1973-04-22	orange	1
16	Ayanna	Jarvis	1974-02-11	orange	5
8	Karyn	Diaz	1969-02-24	red	1
14	Clio	Noel	1972-12-12	red	5
6	Gretchen	Kinney	1974-10-18	violet	1
18	Chadwick	Knight	1973-04-29	yellow	1
Time taken: 1.568 seconds, Fetched: 18 row(s)

In [44]:
%%hive
SELECT * FROM tbltime ORDER BY ts;

Query ID = jdvelasq_20181005134501_f2597d5a-2a67-43ca-89f5-50904e572ebc
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:45:03,488 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local942098575_0005
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
2016-05-14 05:45:23	2016-05-14
2017-07-01 11:10:45	2017-07-01
2018-08-23 14:23:18	2018-08-23
Time taken: 1.724 seconds, Fetched: 3 row(s)

In [45]:
%%hive
SELECT * FROM tbltime ORDER BY DAY(ts);

Query ID = jdvelasq_20181005134503_27ddb402-7330-41b3-8659-8dba598a8d0d
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:45:05,130 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1116668870_0006
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
2017-07-01 11:10:45	2017-07-01
2016-05-14 05:45:23	2016-05-14
2018-08-23 14:23:18	2018-08-23
Time taken: 1.555 seconds, Fetched: 3 row(s)

In [46]:
%%hive
--
-- Se altera el orden del ordenamiento
-- No funciona igual que sql
-- los resultados son diferentes
--
SELECT * FROM persons ORDER BY FIELD(color, 'blue');

Query ID = jdvelasq_20181005134505_3b3b53c8-879f-4e4f-aa9d-32e5e850626c
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:45:07,135 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local979260848_0007
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
18	Chadwick	Knight	1973-04-29	yellow	1
17	Chanda	Boyer	1973-04-01	green	4
16	Ayanna	Jarvis	1974-02-11	orange	5
15	Hope	Silva	1970-07-01	blue	5
14	Clio	Noel	1972-12-12	red	5
13	Vivian	Crane	1970-08-27	gray	5
12	Hope	Coffey	1973-12-24	green	5
11	Jordan	Estes	1969-12-07	indigo	4
10	Kylan	Sexton	1975-02-28	black	4
9	Merritt	Guy	1974-10-17	indigo	4
8	Karyn	Diaz	1969-02-24	red	1
7	Driscoll	Klein	1970-10-05	blue	5
6	Gretchen	Kinney	1974-10-18	violet	1
5	Zoe	Conway	1974-07-03	blue	2
4	Roth	Fry	1975-01-29	black	1
3	Cody	Garrett	1973-04-22	orange	1
2	Karen	Holcomb	1974-05-23	green	4
1	Vivian	Hamilton	1971-07-08	green	1
Time taken: 1.641 seconds, Fetched: 18 row(s)

## GROUP BY

### COUNT()

In [47]:
%%hive
--
-- Cuenta cuantos registros hay en la tabla.
--
SELECT COUNT(*) FROM persons;

OK
18
Time taken: 0.061 seconds, Fetched: 1 row(s)

In [48]:
%%hive
--
-- Cuenta cuantas veces aparece cada año
-- de nacimiento en la tabla.
--
SELECT YEAR(birthday), COUNT(*) FROM persons GROUP BY YEAR(birthday);

Query ID = jdvelasq_20181005134507_32fe26e6-5dc5-4b4a-85e4-8f418c3f3c93
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:45:09,401 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local2074657259_0008
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
1969	2
1970	3
1971	1
1972	1
1973	4
1974	5
1975	2
Time taken: 1.669 seconds, Fetched: 7 row(s)

### MAX(), MIN(), SUM(), AVG()

In [49]:
%%hive
SELECT 
    color,
    MAX(quantity),
    MIN(quantity),
    SUM(quantity),
    AVG(quantity)
FROM
    persons
GROUP BY
    color;

Query ID = jdvelasq_20181005134509_812c022a-a243-4863-84ec-a71e549d2853
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:45:11,716 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1383962009_0009
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
black	4	1	5	2.5
blue	5	2	12	4.0
gray	5	5	5	5.0
green	5	1	14	3.5
indigo	4	4	8	4.0
orange	5	1	6	3.0
red	5	1	6	3.0
violet	1	1	1	1.0
yellow	1	1	1	1.0
Time taken: 1.74 seconds, Fetched: 9 row(s)

In [50]:
%%hive
--
-- Selecciona los colores que tengan una cantidad
-- igual a la minima
--
SELECT 
    color,
    quantity
FROM
    persons
WHERE
    quantity = (SELECT MIN(quantity) FROM persons);

Query ID = jdvelasq_20181005134512_58fa0ebe-5cca-4f5a-9840-6f7c921ba964
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:45:14,144 Stage-2 map = 100%,  reduce = 100%
Ended Job = job_local890896342_0010
SLF4J: Found binding in [jar:file:/Volumes/Data/big-data/hive-3.1.0/lib/log4j-slf4j-impl-2.10.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
2018-10-05 13:45:26	Starting to launch local task to process map join;	maximum memory = 239075328
2018-10-05 13:45:26	Uploaded 1 File to: file:/tmp/hive/java/jdvelasq/fc008a1a-0b93-4f1e-aeda-273e97b10bcf/hive_2018-10-05_13-45-12_343_6955470192096005511-1/-local-10005/HashTable-Stage-3/MapJoin-mapfile00--.hashtable (515 bytes)
Execution completed successfully
MapredLocal task succeeded
Launching Job 2 out of 2
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-10-05 13:45:31,147 Stage-3 map = 100%,  reduce = 0%
Ended Job = job_local700472627_0011
MapReduce Jobs Launched:
Stage-Stage-2:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Stage-Stage-3:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
green	1
orange	1
black	1
violet	1
red	1
yellow	1
Time taken: 18.808 seconds, Fetched: 6 row(s)

## LEAD, LAG

In [51]:
%%hive
SELECT 
    id, 
    ROW_NUMBER() OVER (ORDER BY id), 
    LEAD(id) OVER (ORDER BY id), 
    LAG(id) OVER (ORDER BY id) 
FROM 
    persons;

Query ID = jdvelasq_20181005134531_47c19fc6-b217-4f14-bb40-b596e1808309
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:45:33,214 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local23719189_0012
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
1	1	2	NULL
2	2	3	1
3	3	4	2
4	4	5	3
5	5	6	4
6	6	7	5
7	7	8	6
8	8	9	7
9	9	10	8
10	10	11	9
11	11	12	10
12	12	13	11
13	13	14	12
14	14	15	13
15	15	16	14
16	16	17	15
17	17	18	16
18	18	NULL	17
Time taken: 1.648 seconds, Fetched: 18 row(s)

### FIRST_VALUE(), LAST_VALUE()

In [52]:
%%hive
SELECT color, quantity FROM persons ORDER BY color;

Query ID = jdvelasq_20181005134533_23016bd1-f96f-4b3b-8595-09b5078f5dbd
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:45:34,987 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1965039715_0013
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
black	1
black	4
blue	2
blue	5
blue	5
gray	5
green	4
green	5
green	4
green	1
indigo	4
indigo	4
orange	1
orange	5
red	1
red	5
violet	1
yellow	1
Time taken: 1.682 seconds, Fetched: 18 row(s)

In [53]:
%%hive
SELECT 
    color,
    quantity,
    FIRST_VALUE(quantity) OVER(PARTITION BY color ORDER BY quantity), 
    LAST_VALUE(quantity) OVER(PARTITION BY color ORDER BY quantity)
FROM 
    persons
ORDER BY
    color, quantity;

Query ID = jdvelasq_20181005134535_aa1774a8-0ffa-45ae-bae6-dfc560278161
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:45:37,211 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1565380862_0014
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:45:38,791 Stage-2 map = 100%,  reduce = 100%
Ended Job = job_local1294844856_0015
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Stage-Stage-2:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
black	1	1	1
black	4	1	4
blue	2	2	2
blue	5	2	5
blue	5	2	5
gray	5	5	5
green	1	1	1
green	4	1	4
green	4	1	4
green	5	1	5
indigo	4	4	4
indigo	4	4	4
orange	1	1	1
orange	5	1	5
red	1	1	1
red	5	1	5
violet	1	1	1
yellow	1	1	1
Time taken: 3.287 seconds, Fetched: 18 row(s)

### RANK(), DENSE_RANK(), CUME_DIST(), PERCENT_RANK()

In [54]:
%%hive
SELECT 
    color, 
    RANK() OVER (ORDER BY color), 
    DENSE_RANK() OVER (ORDER BY color),
    CUME_DIST() OVER (ORDER BY color),
    PERCENT_RANK() OVER (ORDER BY color)
FROM 
    persons;

Query ID = jdvelasq_20181005134539_a6cccca2-2b07-459c-8312-9f4685dc70cd
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2018-10-05 13:45:40,944 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1985920504_0016
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
black	1	1	0.1111111111111111	0.0
black	1	1	0.1111111111111111	0.0
blue	3	2	0.2777777777777778	0.11764705882352941
blue	3	2	0.2777777777777778	0.11764705882352941
blue	3	2	0.2777777777777778	0.11764705882352941
gray	6	3	0.3333333333333333	0.29411764705882354
green	7	4	0.5555555555555556	0.35294117647058826
green	7	4	0.5555555555555556	0.35294117647058826
green	7	4	0.5555555555555556	0.35294117647058826
green	7	4	0.5555555555555556	0.35294117647058826
indigo	11	5	0.6666666666666666	0.5882352941176471
indigo	11	5	0.6666666666666666	0.5882352941176471
orange	13	6	0.7777777777777778	0.7058823529411765
orange	13	6	0.7777777777777778	0.7058823529411765
red	15	7	0.8888888888888888	0.8235294117647058
red	15	7	0.8888888888888888	0.8235294117647058
violet	17	8	0.9444444444444444	0.9411764705882353
yellow	18	9	1.0	1.0
Time taken: 1.679 seconds, Fetched: 18 row(s)

In [55]:
%%hive
ANALYZE TABLE persons COMPUTE STATISTICS;

Query ID = jdvelasq_20181005134541_242df2ee-4f5c-4a89-af2c-76d2b431ca16
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
Job running in-process (local Hadoop)
2018-10-05 13:45:42,648 Stage-0 map = 100%,  reduce = 0%
Ended Job = job_local1104877461_0017
MapReduce Jobs Launched:
Stage-Stage-0:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
Time taken: 1.636 seconds

---